<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulator</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <input type="number" v-model="angka1">
        <input type="number" v-model="angka2">
        <br><br>
        <button @click="hasil=angka1+angka2">+</button>
        <button @click="hasil=angka1-angka2">-</button>
        <button @click="hasil=angka1*angka2">*</button>
        <button @click="hasil=angka1/angka2">/</button>
        <br><br>
        Hasil: {{ hasil }}
    </div>

    <script src="script.js"></script>
</body>
</html>
